.task-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    min-width: 260px;
    border: 2px solid #142794;
    border-radius: 8px;
    z-index: 1000;
    background: #7a85e6;
    position: fixed;
    align-self: center;
    
}

.modal-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    /* background-color: #8fe6af; */
    background: repeating-linear-gradient(45deg, rgb(255, 132, 0), yellow, green, blue, red);
    width: 100%;
    color: rgb(23, 2, 2);
    font-weight: 900;
     border-top-right-radius: 8px;
     border-top-left-radius: 8px;
     box-shadow: 0px 4px 8px 0px #3e49aa;
    >span{
        padding: 10px;
        font-weight: 800;
    }
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:8px;
    width: 100%;
}
.form-fields{
    align-self: flex-start;
    min-width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: #6e7079;
}