.task-tile{
    height: 200px;
    width: 150px;
    background-color: #ae0fdff8;
    margin-left: 10px;
    border-radius: 8px;
    margin-top: 10px;
    /* border: 2px solid rgb(110, 107, 107); */
    box-shadow: 3px 3px 1px 1px rgb(245, 244, 244);
    overflow: auto;
}

.task-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:8px;
     
}
.task-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:8px;
    background: #5b3ae3;
    width: 100%;
    padding: 4px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 2px 8px 0px #3108d5;
    /* border: 1px solid #ccc; */
    color: white;
}
.task-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 800;
    margin-left: 5%;
}
.task-buttons{
    display: flex;
    flex-direction: row;
    gap:4px;
    justify-content:space-around;
    align-items: center;
    margin-right: 5%;
}

.task-description{
   color: #f4f0f0;
   font-family:'Times New Roman', Times, serif;
   font-size: 18px;
    padding: 10px;
    font-weight: 600;
}